<section class="cover-section">
<div class="overlayTwo"></div>
</section>
<section class="container text-center">
  <div class="most-viewed">most viewed comparisons</div>
</section>
<section class="container text-center">
<main class="main">
  <div class="card compare-card">
    <div class="img-container">
        <img src="../../assets/images/c-product2.png" class="product1">
        
        <span class="vs">VS</span>
        
        <img src="../../assets/images/c-product.jpg" class="product2">
        <div class="overlay">
            <div class="category">
                <img src="../../assets/images/icons/compare.png"> Compare
            </div>
            
        </div>
        <div class="votes">
            <span>40%</span>
            <span>60%</span>
        </div>
    </div>
    <div class="content">
        <h2>17 oz. Waterless Wash and Shine</h2>
        <p>Waterless Wash and Shine is a revolutionary new method of washing and shining your car in less than 15 minutes without water. No buckets, no hoses no rinsing and drying. Simply spray on the surface and wipe dry. With your vehicle tes without water. No butes without water. No butes without water. No bu anywhere, anytime. The unique formuformuformu formuformu formuformu  formulatiIt also leaves a protective film that pro....<br><a href="#">Show More</a><span>+200 <img src="../../assets/images/icons/eye.svg"></span></p>
    </div>
</div>
<button *ngIf="!clicked" class="btn btn-default moreBtn" (click)="viewHidden()">View More</button> 
</main>
</section>
<section *ngIf="clicked" class="container text-center">
    <main class="main">
        <div class="card compare-card">
          <div class="img-container">
              <img src="../../assets/images/c-product2.png" class="product1">
              
              <span class="vs">VS</span>
              
              <img src="../../assets/images/c-product.jpg" class="product2">
              <div class="overlay">
                  <div class="category">
                      <img src="../../assets/images/icons/compare.png"> Compare
                  </div>
                  
              </div>
              <div class="votes">
                  <span>40%</span>
                  <span>60%</span>
              </div>
          </div>
          <div class="content">
              <h2>17 oz. Waterless Wash and Shine</h2>
              <p>Waterless Wash and Shine is a revolutionary new method of washing and shining your car in less than 15 minutes without water. No buckets, no hoses no rinsing and drying. Simply spray on the surface and wipe dry. With your vehicle tes without water. No butes without water. No butes without water. No bu anywhere, anytime. The unique formuformuformu formuformu formuformu  formulatiIt also leaves a protective film that pro....<br><a href="#">Show More</a><span>+200 <img src="../../assets/images/icons/eye.svg"></span></p>
          </div>
      </div>
      <button  class="btn btn-default moreBtn" >View More</button> 
      </main>
</section>