<section class="contact-header text-center">
    <div>
      <h1 class="contact-txt">About Us</h1>
    </div>
  </section>
  <section class="container text-center who-section">
    <div class="row">
      <div class="col-md-6 col-sm-6">
        <div>
          <img src="../../assets/images/logo.png" class="who-img">
        </div>
      </div>
      <div class="col-md-6 col-sm-6">
        <div class="who-header">
          <h2>Dr Nagiz Who ?</h2>
          </div>
          <div>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididun</p>
        </div>
        <hr>
        <div class="soc-col">
          <ul>
            <li><i class="fab fa-facebook-f soc-icon"></i></li>
            <li><i class="fab fa-twitter soc-icon"></i></li>
            <li><i class="fab fa-google-plus-g soc-icon"></i></li>
            <li><i class="fab fa-whatsapp soc-icon"></i></li>
          </ul>
        </div>
      </div>
    </div>
  </section>