* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
  }
  
  ::selection {
      color:#eee;
      background: #6f6f6f;
  }
  
  html {
    box-sizing: border-box;
    height: 100%;
  }
  
  body{
        box-sizing: inherit;
        height: 100%;
        font-size: 16px;
        font-family: 'Roboto', sans-serif;
  
  }
  
  .lang{
      position: absolute;
      right: 10%; top: 30px;
      font-size: 1.1em;
      color: #333;
      font-weight: 600;
  }
  
  .lang:hover{
      text-decoration: none;
      color: #333;
  }
  
  .main-bar{
      padding-top: 10px;
      position: relative;
      min-height: 70px;
      z-index: 333;
      background-color: #fff;
  }
  
  .main-bar img.logo{
      width: 60px;
      position: absolute;
      left: 48%; top: 10px;
  }
  
  .main-bar form{
      position: absolute;
      left: 10%; top: 30px;
  }
  
  input {
      outline: none;
  }
  input[type=search] {
      -webkit-appearance: textfield;
      box-sizing: content-box;
      font-family: inherit;
      font-size: 100%;
  }
  input::-webkit-search-decoration,
  input::-webkit-search-cancel-button {
      display: none; 
  }
  
  
  input[type=search] {
      background: #fff url(https://static.tumblr.com/ftv85bp/MIXmud4tx/search-icon.png) no-repeat 9px center;
      border: none;
      padding: 5px 10px 5px 45px;
      width: 55px;
      
      -webkit-border-radius: 5px;
      -moz-border-radius: 5px;
      border-radius: 5px;
      
      -webkit-transition: all .5s;
      -moz-transition: all .5s;
      transition: all .5s;
  }
  
  
  input:-moz-placeholder {
      color: #999;
  }
  input::-webkit-input-placeholder {
      color: #999;
  }
  
  
  /* Demo 2 */
  #demo-2 input[type=search] {
      width: 15px;
      padding-left: 10px;
      color: transparent;
      cursor: pointer;
  }
  #demo-2 input[type=search]:hover {
      background-color: #fff;
  }
  #demo-2 input[type=search]:focus {
      width: 100px;
      padding-left: 32px;
      color: #000;
      background-color: #fff;
      cursor: auto;
  }
  #demo-2 input:-moz-placeholder {
      color: transparent;
  }
  #demo-2 input::-webkit-input-placeholder {
      color: transparent;
  }
  
  #demo-2 input[type=search]:focus:-moz-placeholder {
      color: #333;
  }
  #demo-2 input[type=search]:focus::-webkit-input-placeholder {
      color: #333;
  }
  
  nav {
      position: relative;
      background-color: #ffffff;
      box-shadow: 0 2px 3px -2px rgba(0, 0, 0, 0.42);
      z-index: 999;
      transition: position 1s;
  }
  
  .navFixed{
      position: fixed;
      top: 0; left: 0;
      width: 100%;
      transition: 1s;
  }
  
  nav input {
    display: none;
  }
  
  nav ul {
      display: none;
      overflow: hidden;
      margin-bottom: 0;
      text-align: center;
      transition: .5s;
  }
  
  nav a {
      display: block;
      padding: 0.4em;
      background-color: #ffffff;
      color: #868686;
  }
  
  nav li.active a{
      color: #333;
      font-weight: 600;
  }
  
  nav a:hover {
      color: #333;
      text-decoration: none;
  }
  
  nav label {
    display: block;
    position: relative;
    text-align: left;
    padding: 1em;
  color: #333;
  }
  
  nav .burger {
    position: absolute;
    cursor: pointer;
    user-select: none;
    top: 0.8em;
    right: 0.4em;
    width: 2em;
    height: 2em;
  }
  
  nav .burger span {
    display: block;
    height: 3px;
    margin: 4px;
    border-radius: 5px;
    background-color: #333;
    transition: all 0.3s ease-in-out;
  }
  
  nav input:checked ~ ul {
      display: block;
      
  }
  
  nav input:checked ~ label > .burger > span:nth-child(2){
    width: 0;
    opacity: 0;
    transition: all 0.3s ease-in-out;
  }
  
  nav input:checked ~ label > .burger > span:nth-child(1){
    position: relative;
    top: 7px;
    transform: rotate(45deg);
    transition: all 0.3s ease-in-out;
  }
  
  nav input:checked ~ label > .burger > span:nth-child(3){
    position: relative;
    top: -7px;
    transform: rotate(-45deg);
    transition: all 0.3s ease-in-out;
  }
  @media all and (min-width: 768px){
    
    nav label {
      display: none;
    }
    nav ul {
      display: block;
      text-align: center;
      

    }
    nav ul li {
      display: inline-block;

    }
    nav ul a {
      background-color: transparent;
        padding: 10px 10px;
    }
}

@media only screen and (max-width:768px){
  
  nav label{
      cursor: pointer;
  }

  
}
